.advantages {
  padding-bottom: 47px;
}

.advantages-list {
  display: flex;
}

.advantages-list__item {
  flex-basis: 270px;
  & + & {
    margin-left: 30px;
  }
}

.advantages-list__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-list__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

.advantages-list__wrap {
  width: 270px;
  height: 120px;
  background: var(--secondary-bcgd);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages-list__icon {
  width: 70px;
  height: 70px;
}
