.header {
	border-bottom: 1px solid var(--header-border);
	padding-top: 16px;
	padding-bottom: 16px;
	@include tab {
		padding-top: 21px;
		padding-bottom: 21px;
	}
	@include desk {
		padding-top: 24px;
		padding-bottom: 25px;
	}
}

.header__container {
	display: flex;
	align-items: center;
}

.navigation {
	@include tab {
		display: flex;
		align-items: center;
	}
}

.navigation__logo {
	@include tab {
		margin-right: 88px;
	}
	@include desk {
		margin-right: 93px;
	}
}

.navigation__studio {
	color: #000;
}

.navigation-list {
	display: none;
	@include tab {
		display: flex;
		color: #212121;
	}
}

.navigation-list__item {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	& + & {
		margin-left: 50px;
	}
}

.navigation-list__link,
.mob-menu-nav__link {
	transition: var(--transition-link);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.current {
	color: var(--accent-color);
	position: relative;
	@include tab {
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 4px;
			background-color: var(--accent-color);
			border-radius: 2px;
			left: 0;
			bottom: -34px;
			@include desk {
				bottom: -32px;
			}
		}
	}
}

.header-contacts {
	display: none;
	@include tab {
		display: block;
		font-size: 12px;
		line-height: 1.16;
		color: var(--text-color);
		align-items: center;
		margin-left: auto;
		font-weight: 500;
		letter-spacing: 0.02em;
	}
	@include desk {
		display: flex;
		font-size: 14px;
		line-height: 1.14;
	}
}

.header-contacts__link {
	display: flex;
	align-items: center;
	transition: var(--transition-link);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.header-contacts__item + .header-contacts__item {
	@include tabdesk {
		margin-top: 10px;
	}
	@include desk {
		margin-left: 30px;
	}
}

.header-contacts__icon {
	margin-right: 10px;
	fill: currentColor;
	transition: var(--transition-icon);
}

.mob-menu-open__btn {
	display: block;
	margin-left: auto;
	background: transparent;
	border: none;
	&:focus {
		outline: none;
	}
	&:hover .mob-menu__btn-open,
	&:focus .mob-menu__btn-open {
		fill: var(--accent-color);
	}
	@include tab {
		display: none;
	}
}

.mob-menu__btn-open {
	fill: var(--black);
	transition: var(--transition-icon);
}

.mob-menu-close__btn {
	position: absolute;
	top: 10px;
	right: 15px;
	background: transparent;
	border: none;
	&:focus {
		outline: none;
	}
	&:hover .mob-menu__btn-close,
	&:focus .mob-menu__btn-close {
		fill: var(--accent-color);
	}
}

.mob-menu__btn-close {
	fill: var(--black);
	transition: var(--transition-icon);
}

.mob-menu {
	position: fixed;
	z-index: 1;
	background-color: #fff;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	top: 0;
	right: 0;
	padding: 48px 0 48px 40px;
	transform: translateX(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	.container {
		padding: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	@include tab {
		display: none;
	}
}

.mob-menu.is-open {
	transform: translateX(0);
}

.mob-menu-nav__item {
	font-weight: 500;
	font-size: 40px;
	line-height: 1.17;
	letter-spacing: 0.02em;
	color: var(--dark-text-color);
	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.mob-menu-contacts__item {
	&:not(:last-child) {
		margin-bottom: 32px;
	}
}

.mob-menu-contacts__item {
	&:not(:last-child) {
		margin-bottom: 32px;
	}
	font-weight: 500;
	letter-spacing: 0.02em;
	.tel {
		font-size: 34px;
		line-height: 1.17px;
		color: var(--accent-color);
	}
	.email {
		font-size: 24px;
		line-height: 1.16;
		color: var(--text-color);
	}
}

.mob-menu-social {
	margin-top: 64px;
	display: flex;
	flex-wrap: wrap;
}

.mob-menu-social__link {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.22;
	letter-spacing: 0.02em;
	color: var(--accent-color);
}

.mob-menu-social__item:not(:last-child) {
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid rgba(33, 33, 33, 0.2);
}
