.no-scroll {
	overflow-y: hidden;
}

.menu-button {
	position: relative;
	display: block;
	margin-left: auto;
	background: transparent;
	border: none;
	z-index: 10;
	&:focus {
		outline: none;
	}
	&:active .mob-menu__btn {
		fill: var(--accent-color);
	}
	@include tab {
		display: none;
	}
}

.mob-menu__btn {
	fill: var(--black);
}

.menu-open {
	opacity: 1;
}

.menu-button.is-active .menu-open {
	opacity: 0;
}

.menu-close {
	opacity: 0;
}

.menu-button.is-active .menu-close {
	opacity: 1;
}

.mob-menu {
	position: fixed;
	z-index: 1;
	background-color: #fff;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	top: 0;
	right: 0;
	padding: 48px 0 48px 40px;
	transform: translateX(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	.container {
		padding: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	@include tab {
		display: none;
	}
}

.mob-menu.is-open {
	transform: translateX(0);
}

.mob-menu-nav__item {
	font-weight: 500;
	font-size: 40px;
	line-height: 1.17;
	letter-spacing: 0.02em;
	color: var(--dark-text-color);
	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.mob-menu-contacts__item {
	&:not(:last-child) {
		margin-bottom: 32px;
	}
}

.mob-menu-contacts__item {
	&:not(:last-child) {
		margin-bottom: 32px;
	}
	font-weight: 500;
	letter-spacing: 0.02em;
	.tel {
		font-size: 34px;
		color: var(--accent-color);
	}
	.email {
		font-size: 24px;
		line-height: 1.16;
		color: var(--text-color);
	}
}

.mob-menu-social {
	margin-top: 64px;
	margin-right: 15px;
	display: flex;
	flex-wrap: wrap;
}

.mob-menu-social__link {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.22;
	letter-spacing: 0.02em;
	color: var(--accent-color);
}

.mob-menu-social__item:not(:last-child) {
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid rgba(33, 33, 33, 0.2);
}
