.section {
	padding-top: 60px;
	padding-bottom: 60px;
	@include desk {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}

.section__title {
	font-size: 28px;
	line-height: 1.17;
	text-align: center;
	color: var(--dark-text-color);
	margin-bottom: 30px;
	@include desk {
		font-size: 36px;
		line-height: 1.16;
		margin-bottom: 50px;
	}
}
